/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 mai 2017, 14:10:58
    Author     : Thomas Kint
*/

h1 {
    border-bottom: solid 1px blue;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

td, th {
    border: 1px solid black;
    padding: 3px;
}

#page {
    width: 800px;
    margin: 0 auto;
}

#header {
    border: solid 1px blue;
    padding: 5px;
    size: large;
    color: blue;
    background-color: #c8bfbf;
    margin-bottom: 20px;
}

#menu {
    float: right;
    width: 150px;
    border: solid 1px gray;
    padding: 5px;
    color: blue;
    background-color: white;
    margin-left: 20px;
}

#content {
}

#footer {
    border: solid 1px blue;
    padding: 5px;
    size: small;
    color: blue;
    background-color: #c8bfbf;
    margin-top: 20px;
}

.alert {
    color: red;
    border: solid 2px red;
}

.course-table {
    border-collapse: collapse;
    border-left: 0px;
    border-right: 0px;
}

.course-table-header {
    text-align: center;
    background: none repeat scroll 0 0 #E5E5E5;
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    padding: 5px;
}

.course-table-odd-row {
    text-align: center;
    background: none repeat scroll 0 0 #FFFFFFF;
    border-top: 1px solid #BBBBBB;
}

.course-table-even-row {
    text-align: center;
    background: none repeat scroll 0 0 #F9F9F9;
    border-top: 1px solid #BBBBBB;
}