<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:composition>
        <div>Menu :</div>
        <ul>
            <h:form>
                <li><h:commandLink action="#{navigation.hello}">Hello</h:commandLink></li>
                <li><h:commandLink action="bye?faces-redirect=true">Bye</h:commandLink></li>
                <li><h:commandButton action="#{compteur.incremente}" value="#{compteur.valeur}" /></li>
                <li><h:commandLink action="compteur?faces-redirect=true">Compteur</h:commandLink></li>
                <li><h:commandLink action="courses?faces-redirect=true">Courses</h:commandLink></li>
                <li><h:commandLink action="test_alert?faces-redirect=true">Alert</h:commandLink></li>
                <li><h:commandLink action="formtest?faces-redirect=true">Form Test</h:commandLink></li>
            </h:form>
        </ul>
    </ui:composition>
</html>
