<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:composition template="/template/mylayout.xhtml">
        <ui:define name="content">
            <f:view>
                <h1>
                    <h:outputText value="#{messages.bye}" />
                </h1>
                <h:form>
                    <h:commandLink action="home" value="New path to Hello" />
                </h:form>
                <p>
                    <h:link outcome="hello_v4">Hello</h:link>
                </p>
            </f:view>
        </ui:define>
        <ui:define name="title">Bye Page</ui:define>
    </ui:composition>
</html>