<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="/template/mylayout.xhtml">
            <ui:define name="content">
                <h1>Compteurs</h1>
                <p>
                    Compteur Application =
                    <h:outputText value="#{compteurApplication.compteur}" />

                    Compteur Vue = 
                    <h:outputText value="#{compteurVue.compteur}" />

                    <h:form>
                        <h:commandButton value="Submit" />
                    </h:form>
                </p>
            </ui:define>
            <ui:define name="title">Compteurs</ui:define>
        </ui:composition>
    </h:body>
</html>