<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:composition template="/template/mylayout.xhtml">
        <ui:define name="content">
            <f:view>
                <h1>Course edition</h1>
                <h:form id="test">
                    <c:set var="c" value="#{course.theCourse}" />

                    <h:panelGrid columns="3">

                        <h:outputText value="Name :" />
                        <h:inputText id="name" value="#{c.name}" required="true" requiredMessage="Le nom est obligatoire">
                            <f:validateLength minimum="3" maximum="20"/>
                            <!--<f:validateRegex pattern="^[A-Z]^[a-z]"/>-->
                        </h:inputText>
                        <h:message style="color:red" for="name" />


                        <h:outputText value="Hours :" />
                        <h:inputText id="hours" value="#{c.hours}" />
                        <h:message style="color:red" for="hours" />

                        <h:outputText value="Level : " />
                        <h:selectOneMenu id="level" value="#{c.level}" required="false">
                            <f:selectItems value="#{params.levels}" />
                        </h:selectOneMenu>
                        <h:message style="color:red" for="level" />

                        <h:commandButton action="#{course.save()}" value="Save" />
                        <h:link outcome="courses" value="List of courses" />

                    </h:panelGrid>

                </h:form>
            </f:view>
        </ui:define>
    </ui:composition>
</html>