<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>

        <pre>
            Test de paragraphe ignoré 1
        </pre>

        <ui:composition template="/template/mylayout.xhtml">

            <ui:define name="content">
                <h1>
                    <h:outputText value="Hello, world" />
                </h1>
            </ui:define>

            <ui:define name="title">Hello Page V2</ui:define>

        </ui:composition>

        <pre>
            Test de paragraphe ignoré 2
        </pre>
    </h:body>
</html>