<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Hello page</title>
    </h:head>
    <h:body>
        <h:outputStylesheet library="css" name="style.css" />

        <f:view>
            <h1>
                <h:outputText value="Hello, world" />
            </h1>
            <h:graphicImage library="theme1" name="axolotl.jpg" />
        </f:view>

        <h:outputScript library="js" name="hello.js" />
    </h:body>
</html>

